<!-- <div class="ng-star-inserted">
    <div class="review-wrapper">
        <div class="container-fluid review-bar ng-star-inserted">
            <div class="row align-items-center">
                <div class="col-1 align-items-center">
                    <div class="back-icon">
                        <p><i class="fas fa-arrow-left"></i></p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <p class="merchant-heading"><span>Feedback</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!---->
<!---->
<!-- <div class="container-fluid review ng-star-inserted">
            <div class="row mt-4">
                <div class="col">
                    <div class="note">
                        <p>Please take a moment to let us know how we did.</p>
                        <p>It would mean a lot to us!</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="question">
                        <p>How was your visit?</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="row rating-emojis">
                        <div class="col emoji p-2 ng-star-inserted">
                            <div class="emoji-img-wrapper"><img alt="😀" src="https://flogginimages.s3.ap-south-1.amazonaws.com/assets/review_1.png">
                                <p class="text">Very Bad</p>
                            </div>
                        </div>
                        <div class="col emoji p-2 ng-star-inserted">
                            <div class="emoji-img-wrapper"><img alt="😀" src="https://flogginimages.s3.ap-south-1.amazonaws.com/assets/review_2.png">
                                <p class="text">Bad</p>
                            </div>
                        </div>
                        <div class="col emoji p-2 ng-star-inserted">
                            <div class="emoji-img-wrapper"><img alt="😀" src="https://flogginimages.s3.ap-south-1.amazonaws.com/assets/review_3.png">
                                <p class="text">Average</p>
                            </div> -->
<!-- </div>
                        <div class="col emoji p-2 ng-star-inserted">
                            <div class="emoji-img-wrapper"><img alt="😀" src="https://flogginimages.s3.ap-south-1.amazonaws.com/assets/review_4.png">
                                <p class="text">Good</p>
                            </div>
                        </div>
                        <div class="col emoji p-2 ng-star-inserted">
                            <div class="emoji-img-wrapper"><img alt="😀" src="https://flogginimages.s3.ap-south-1.amazonaws.com/assets/review_5.png">
                                <p class="text">Loved it!</p>
                            </div>
                        </div>
                        <!---->
<!-- </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <div class="question">
                        <p>What impacted your rating?</p>
                    </div>
                </div>
            </div> -->
<!-- <div class="row mt-4 impact-wrapper">
                <div class="col ng-star-inserted">
                    <div class="impact">
                        <p>Food Quality</p>
                    </div>
                </div>
                <div class="col ng-star-inserted">
                    <div class="impact">
                        <p>Atmosphere</p>
                    </div>
                </div>
                <div class="col ng-star-inserted">
                    <div class="impact">
                        <p>Service</p>
                    </div>
                </div> -->
<!---->
<!-- </div>
            <div class="row mt-4">
                <div class="col">
                    <form novalidate="" role="form" class="ng-untouched ng-pristine ng-invalid">
                        <div class="form-row">
                            <div class="form-group col"><label>Would you like to add anything?</label>
                                <div class="input-group mb-2"><textarea formcontrolname="comment" placeholder="Tell us about your experience. (Optional)" rows="4" aria-label="Review Comment" aria-describedby="review-comment" class="form-control ng-untouched ng-pristine ng-valid"></textarea></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
<!---->
<!---->
<!-- <div class="container-fluid submit mb-6 ng-star-inserted"> -->
<!---->
<!-- <div class="row">
                <div class="col text-center"><button class="btn">SUBMIT</button></div>
            </div>
        </div> -->
<!---->
<!-- </div>
    <div class="review-wrapper ng-star-inserted">
    </div> -->
<!---->
<!-- </div> -->